button,
div,
form,
input {
  margin: 10px;
}

/* body {
  background-image:url('https://gph.to/2JkWlJt');
  background-repeat:no-repeat;
  background-position:center;
} */

html { 
  background: url('https://gph.to/2JkWlJt') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.container {
  text-align: center;
}

#buttons-view {
  color: red;
}

label {
  color: white;

}

img p {
  float: left;
}

#title {
  text-align:center;
  background-color: #555555;
  color: white;
  margin: auto;
}

p {
  color: white;
}


.game-btn {
  background-color: #555555;
  color: white;
  font-size: 16px;
}

#add-game {
  background-color: #555555;
  color: white;
  font-size: 16px;
}

#game-input {
  background-color: #555555;
  color: white;
  font-size: 16px;
}
